@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
  --rad: 0.7rem;
  --dur: 0.2s;
  --color-dark: #1a202c;
  --color-light: #fff;
  --color-brand: #4074ad;
  --font-family: 'M PLUS 1', sans-serif;
  --font-family-terminal: 'Source Code Pro', monospace;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  font-family: var(--font-family);
}

a {
  text-decoration: none;
}

body {
  background-color: var(--color-dark);
  color: white;
}

@keyframes loading-circle-animation {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(900deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(1800deg);
  }
}
