@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #a5332e;
  --font-family: 'M PLUS 1', sans-serif;
  --font-family-terminal: 'Source Code Pro', monospace;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: var(--font-family);
}

body {
  background-color: var(--color-dark);
  color: white;
}
